body {
  background: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(85, 88, 218) 0%,
    rgb(95, 209, 249) 100.2%
  );
}
a {
  color: #4557df;
}
h1 {
  color: blanchedalmond;
  text-align: center;
  font-size: 50px;
  margin: 10px auto;
  padding: 10px;
  margin-bottom: 0px;
}

p {
  color: #d4d9ff;
  text-align: center;
  font-size: 20px;
  font-family: cursive;
  margin: 10px auto;
  margin-top: 0px;
}

.weather-app {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin: 30px auto;
  max-width: 600px;
  color: #fff;
  padding: 50px 40px 50px 40px;
}

main {
  padding: 60px 5px;
}

.weather-app-data {
  display: flex;
  justify-content: space-evenly;
}

.weather-app-city {
  margin-left: 5px;
  font-size: 38px;
  line-height: 50px;
  color: #ebda78;
  font-weight: lighter;
  margin-top: 30px;
  text-align: left;
}

.weather-app-details {
  font-size: 15px;
  color: blanchedalmond;
  line-height: 20px;
}
.secondary-data {
  color: #ebda78;
}
.search-form {
  margin: 0 auto;
  text-align: center;
}
.search-form-input {
  background-color: azure;
  border: none;
  border-radius: 10px;
  padding: 12px;
  margin: 10px auto;
  width: 60%;
  font-size: 14px;
  margin-left: 10px;
}

.search-form-button {
  background-color: #5665dd;
  border: none;
  color: #fff;
  border-radius: 10px;
  padding: 12px;
  margin: 10px auto;
  width: 15%;
  font-size: 14px;
  margin-left: 10px;
}

.weather-app-temperature-container {
  display: flex;
  margin-top: 30px;
  margin-left: 5px;
}

.weather-app-temperature {
  font-size: 30px;
  font-weight: 500;
  margin-top: 20px;
}

.weather-app-unit {
  font-size: 25px;
  margin-top: 20px;
}

.weather-app-icon {
  font-size: 80px;
}

footer {
  border-top: 0.9px solid aliceblue;
  padding-top: 30px;
  text-align: center;
  font-size: 12px;
  color: rgb(255, 255, 255, 0.7);
}
